:root {
  --active-brightness: 0.85;
  --border-radius: 5px;
  --box-shadow: 2px 2px 10px;
  --color: #118bee;
  --color-accent: #118bee15;
  --color-bg: #1c1c1c;
  --color-bg-secondary: #e9e9e9;
  --color-link: #118bee;
  --color-secondary: #920de9;
  --color-secondary-accent: #920de90b;
  --color-shadow: #f4f4f4;
  --color-table: #118bee;
  --color-text: #fff;
  --color-text-secondary: #999;
  --font-family: Verdana, sans-serif;
  --hover-brightness: 1.2;
  --justify-important: center;
  --justify-normal: left;
  --line-height: 1.5;
  --width-card: 285px;
  --width-card-medium: 460px;
  --width-card-wide: 800px;
  --width-content: 1080px;
  --heading-text-color: #c6c2ba;
  --article-text-color: rgb(211, 206, 195);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: #0097fc;
    --color-accent: #0097fc4f;
    --color-bg: #333;
    --color-bg-secondary: #555;
    --color-link: #0097fc;
    --color-secondary: #e20de9;
    --color-secondary-accent: #e20de94f;
    --color-shadow: #bbbbbb20;
    --color-table: #0097fc;
    --color-text: #f7f7f7;
    --color-text-secondary: #aaa;
  }
}

body {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-family);
  line-height: var(--line-height);
  overflow-x: hidden;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: [header] 150px [article] auto [footer] 50px;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1em;
}

.header {
  display: flex;
  align-items: center;
  padding: 1em 0;
  border-bottom: 1px solid var(--color);
}

.header-title {
  margin-left: 1rem;
  text-decoration: none;
  font-weight: 500;
  color: var(--heading-text-color);
}

.header .page-title {
  font-size: 1.5em;
}

.header .page-subtitle {
  font-size: 1em;
}

.menu {
  margin-left: auto;
  margin-right: 2em;
  flex-basis: 300px;
  align-items: center;
  justify-content: flex-end;
}

.menu ul {
  display: flex;
  flex-basis: auto;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu a {
  text-decoration: none;
  color: var(--article-text-color);
}

.article {
  color: var(--article-text-color);
  padding-top: 5rem;
}

.article-title {
  margin: 0;
}

.last-modified {
  text-align: right;
  margin-bottom: 5rem;
  font-size: 1rem;
  opacity: 0.8;
}

.article a {
  color: var(--article-text-color);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 6rem 0 1.38rem;
  line-height: 1.3;
}

h1 {
  font-size: 2.488rem;
}

h2 {
  font-size: 2.074rem;
}

h3 {
  font-size: 1.728rem;
}

h4 {
  font-size: 1.44rem;
}

h5 {
  font-size: 1.2rem;
}

pre {
  white-space: pre-line;
}

figure {
  display: flex;
  flex-direction: column;
  margin: 0;
}

figure img {
  width: 100%;
  height: auto;
  margin-bottom: 1em;
}

figure figcaption {
  font-size: 0.8em;
}

/* Layout */
article aside {
  background: var(--color-secondary-accent);
  border-left: 4px solid var(--color-secondary);
  padding: 0.01rem 0.8rem;
}

hr {
  background-color: var(--color-bg-secondary);
  border: none;
  height: 1px;
  margin: 4rem 0;
  width: 100%;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: var(--justify-important);
}

section img,
article img {
  max-width: 100%;
}

section pre {
  overflow: auto;
}

section aside {
  border: 1px solid var(--color-bg-secondary);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow) var(--color-shadow);
  margin: 1rem;
  padding: 1.25rem;
  width: var(--width-card);
}

section aside:hover {
  box-shadow: var(--box-shadow) var(--color-bg-secondary);
}

[hidden] {
  display: none;
}

section header {
  padding-top: 0;
  width: 100%;
}

/* Typography */
pre[class]::before {
  content: attr(class);
  display: block;
  background-color: #0f0f0f;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  padding: 0.2rem 1rem;
  font-size: 0.7rem;
  border-bottom: 1px solid #373b3d;
  text-align: right;
  color: rgba(255, 255, 255, 0.5);
}

code {
  background-color: #222;
  border-radius: var(--border-radius);
  color: var(--color-text);
  display: inline-block;
  font-size: 0.7em;
  font-family: monospace;
  padding: 0.1rem 0.3rem;
}

pre code {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  padding: 0 0.5rem;
}

details {
  margin: 1.3rem 0;
}

details summary {
  font-weight: bold;
  cursor: pointer;
}

ol li,
ul li {
  padding: 0.2rem 0;
}

p {
  margin: 0 0 0.75rem 0;
  padding: 0;
}

pre code {
  display: block;
  padding: 0.5rem 1rem;
  white-space: pre-wrap;
}

small {
  color: var(--color-text-secondary);
}

sup {
  background-color: var(--color-secondary);
  border-radius: var(--border-radius);
  color: var(--color-bg);
  font-size: xx-small;
  font-weight: bold;
  margin: 0.2rem;
  padding: 0.2rem 0.3rem;
  position: relative;
  top: -2px;
}

/* Links */
a {
  color: var(--color-link);
  display: inline-block;
  font-weight: bold;
}

a:active {
  filter: brightness(var(--active-brightness));
  text-decoration: underline;
}

a:hover {
  filter: brightness(var(--hover-brightness));
  text-decoration: underline;
}

a b,
a em,
a i,
a strong,
button {
  border-radius: var(--border-radius);
  display: inline-block;
  font-size: medium;
  font-weight: bold;
  line-height: var(--line-height);
  margin: 0.5rem 0;
  padding: 1rem 2rem;
}

button {
  font-family: var(--font-family);
}

button:active {
  filter: brightness(var(--active-brightness));
}

button:hover {
  cursor: pointer;
  filter: brightness(var(--hover-brightness));
}

a b,
a strong,
button {
  background-color: var(--color-link);
  border: 2px solid var(--color-link);
  color: var(--color-bg);
}

a em,
a i {
  border: 2px solid var(--color-link);
  border-radius: var(--border-radius);
  color: var(--color-link);
  display: inline-block;
  padding: 1rem 2rem;
}

article aside a {
  color: var(--color-secondary);
}

/* Images */
figure {
  margin: 0;
  padding: 0;
}

figure img {
  max-width: 100%;
}

figure figcaption {
  color: var(--color-text-secondary);
}

/* Forms */

button:disabled,
input:disabled {
  background: var(--color-bg-secondary);
  border-color: var(--color-bg-secondary);
  color: var(--color-text-secondary);
  cursor: not-allowed;
}

button[disabled]:hover {
  filter: none;
}

form {
  border: 1px solid var(--color-bg-secondary);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow) var(--color-shadow);
  display: block;
  max-width: var(--width-card-wide);
  min-width: var(--width-card);
  padding: 1.5rem;
  text-align: var(--justify-normal);
}

form header {
  margin: 1.5rem 0;
  padding: 1.5rem 0;
}

input,
label,
select,
textarea {
  display: block;
  font-size: inherit;
  max-width: var(--width-card-wide);
}

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline-block;
  font-weight: normal;
  position: relative;
  top: 1px;
}

input,
select,
textarea {
  border: 1px solid var(--color-bg-secondary);
  border-radius: var(--border-radius);
  margin-bottom: 1rem;
  padding: 0.4rem 0.8rem;
}

input[readonly],
textarea[readonly] {
  background-color: var(--color-bg-secondary);
}

label {
  font-weight: bold;
  margin-bottom: 0.2rem;
}

/* Tables */
table {
  border: 1px solid var(--color-bg-secondary);
  border-radius: var(--border-radius);
  border-spacing: 0;
  display: inline-block;
  max-width: 100%;
  overflow-x: auto;
  padding: 0;
  white-space: nowrap;
}

table td,
table th,
table tr {
  padding: 0.4rem 0.8rem;
  text-align: var(--justify-important);
}

table thead {
  background-color: var(--color-table);
  border-collapse: collapse;
  border-radius: var(--border-radius);
  color: var(--color-bg);
  margin: 0;
  padding: 0;
}

table thead th:first-child {
  border-top-left-radius: var(--border-radius);
}

table thead th:last-child {
  border-top-right-radius: var(--border-radius);
}

table thead th:first-child,
table tr td:first-child {
  text-align: var(--justify-normal);
}

table tr:nth-child(even) {
  background-color: var(--color-accent);
}

/* Quotes */
blockquote {
  display: block;
  font-size: x-large;
  line-height: var(--line-height);
  margin: 1rem auto;
  max-width: var(--width-card-medium);
  padding: 1.5rem 1rem;
  text-align: var(--justify-important);
}

blockquote footer {
  color: var(--color-text-secondary);
  display: block;
  font-size: small;
  line-height: var(--line-height);
  padding: 1.5rem 0;
}

[data-slug="index"] .toc ul {
  list-style-type: circle;
  margin: 0;
  padding: 0 0 0 2rem;
}
